<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crsm.maker.resourcesFile.mapper.SystemResourceMapper">

    <insert id="saveAndReturnId" useGeneratedKeys="true" keyProperty="id" parameterType="com.crsm.maker.resourcesFile.entity.SysResource">
        INSERT INTO `maker`.`sys_resource` (
          `res_name`,
          `res_path`,
          `res_type`,
          `res_isStop`,
          `res_createTime`,
          `res_updateTime`,
          `user_id`,
          `res_description`
        )
        VALUES
          (
            #{sysSue.resName},
            #{sysSue.resPath},
            #{sysSue.resType},
            #{sysSue.resIsstop},
            #{sysSue.resCreatetime},
            #{sysSue.resUpdatetime},
            #{sysSue.userId},
            #{sysSue.resDescription}
          );
    </insert>


    <select id="selectPageVo" resultType="com.crsm.maker.resourcesFile.entity.SysResource">
           SELECT * FROM `sys_resource`
           <where>
               1=1
              <if test="sysSue.resType!=null">
                  AND res_type=#{sysSue.resType}
              </if>
              <if test="sysSue.userId!=null">
                  AND user_id=#{sysSue.userId}
              </if>
              <if test="sysSue.resName!=null">
                  AND res_name=#{sysSue.resName}
              </if>
              <if test="sysSue.resCreateTime!=null">
                  AND res_createTime=#{sysSue.resCreatetime}
              </if>
               <if test="sysSue.resIsStop!=null">
                  AND res_isStop=#{sysSue.resIsstop}
               </if>
           </where>
                ORDER BY id DESC
    </select>

    <select id="getAllMusicInfo" resultType="com.crsm.maker.resourcesFile.entity.SysResource">
        SELECT
          id,
          res_name,
          res_path,
          res_type,
          res_isStop,
          res_createTime,
          res_updateTime,
          user_id,
          res_description
        FROM
          sys_resource sr
        ${ew.customSqlSegment}
    </select>


</mapper>
