<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crsm.maker.user.mapper.SysRmsMapper">
    <insert id="saveAndReturnId" useGeneratedKeys="true" keyProperty="id">
     INSERT INTO `sys_rms` (
          `rms_name`,
          `rms_iocn`,
          `rms_url`
        )
        VALUES
          (
            #{rmsName},
            #{rmsIocn},
            #{rmsUrl}
          );
    </insert>

    <select id="getPermissionDataByFid" resultType="com.crsm.maker.user.entity.SysRms">
      SELECT
          sr.*
        FROM
          `sys_rms` sr
         RIGHT JOIN `sys_tree` st ON sr.`id`=st.`rms_id`
         WHERE st.`f_rms_id`=#{fid}
    </select>

    <select id="getPermission" resultType="com.crsm.maker.user.entity.SysRms">
        SELECT
          sr.rms_name,
          sr.`rms_url`
        FROM
          `sys_rms` sr
         RIGHT JOIN `sys_tree` st ON sr.`id`=st.`rms_id`
         RIGHT JOIN `role_rms` rs ON sr.`id`=rs.`rms_id`
	     WHERE rs.role_id in 
	     <foreach collection="roleId" item="item" index="index" open="(" separator="," close=")">
             #{item}
         </foreach>
    </select>
</mapper>
