<style>
    .addPagemaxHeight {
        max-height: 777px;
        overflow: auto;
    }

    .marginright {
        transition: all 0.5s linear;
    }

</style>

<script type="text/javascript">
    $(function () {
        /**
         * 添加事件
         */
        $("#toolbar_audio>button").on("click", function () {
            switch ($(this).attr("id")) {
                case "btn_add":
                    pageAudio.addOrEdit();
                    break;
                case 'btn_edit':
                    console.log(pageAudio.selectionId)
                    if (pageAudio.selectionId == null) {
                        baseHome.warningPrompt("请选择修改")
                        return;
                    }
                    pageAudio.addOrEdit(true);
                    break;
            }
        })

        $("#musicList").on("click", ".MusicItem", function () {
            selectedStyle($(this).attr("id"))
        })

        var selectedStyle = function () {
            if (pageAudio.selectionId != arguments[0]) {
                $("#" + pageAudio.selectionId).removeClass("animated infinite bounce fats");
                pageAudio.selectionId = arguments[0]
            } else {
                pageAudio.selectionId = null;
            }
            $("#" + arguments[0]).toggleClass("animated infinite bounce fats");

        }


        var pageAudio = {
            selectionId: null,
            listTemplate: "<div class=\"col-md-2 col-xs-6 MusicItem\" id='music_{0}'>\n" +
            "            <div class=\"thumbnail\">\n" +
            "                <a class=\"thumbnail\" href=\"javascript:void(0)\">\n" +
            "                    <img src=\"{1}\" alt=\"...\" width='100%'>\n" +
            "                </a>\n" +
            "                <div class=\"caption\">\n" +
            "                    <h4>{2}</h4>\n" +
            "                    <h5>{3}</h5>\n" +
            "                </div>\n" +
            "            </div>\n" +
            "        </div>",
            pageIniti: function (callback) {
                var self = this;
                $.get('/fileAudio/getMusicList', function (result) {
                    if (result.isSuccess) {
                        var data = result.data;
                        var contetn = "";
                        for (key in data) {
                            contetn += self.listTemplate.format(data[key].id, baseHome.staticImgURLstaticImgURL() + data[key].coverPath, data[key].audioName, data[key].audioArtist)
                        }
                        if (contetn) $("#musicList").append(contetn)
                    }
                    callback
                }, "json")
            },
            dataLoadSatus: [],
            dataLoadComplete: function () {
            },
            iconSelect: '<div class="col-md-4 col-xs-4">\n' +
            '            <a class="thumbnail musicCoverListGroup" href="javascript:void(0)" id="iconCover_{0}"  >\n' +
            '                <img src="{1}" alt="图片" data-value="{2}" />\n' +
            '            </a>\n' +
            '        </div>',
            addOrEdit: function () {
                var isEditEvent = arguments.length > 0 ? arguments[0] : false;
                var id = isEditEvent ? this.selectionId.replace("music_", "") : null;
                var baseSelf = this;
                $.confirm({
                    columnClass: 'col-md-12',
                    title: "添加音乐",
                    content: "url:static/audioTemplate",
                    onContentReady: function () {
                        var self = this;
                        var iSelectDiv = this.$content.find("#icon_select_div");
                        var coverImg = this.$content.find("#cover_imgage");

                        baseSelf.dataLoadComplete = function () {
                            this.dataLoadSatus.push(arguments[0])
                            if (this.dataLoadSatus.length > 1) {
                                if (isEditEvent) {
                                    $.get("fileAudio/getEditMusicInfo/{0}".format(id), function (result) {
                                        var data = result.data;
                                        self.$content.find("#lrc_select").find("option[value={0}]".format(data.audioLrcId)).attr("selected", "selected")
                                        self.$content.find("#audio_select").find("option[value={0}]".format(data.resourceId)).attr("selected", "selected")
                                        self.$content.find("#cover_imgage").find("img").prop("data-value", data.audioCoverId);
                                        self.$content.find("#cover_imgage").find("img").prop("src", baseHome.staticImgURLstaticImgURL() + data.lrcPath);
                                        self.$content.find("#audio_artist").val(data.audioArtist)
                                        self.$content.find("#audio_name").val(data.audioName)
                                    }, "json")
                                }
                                this.dataLoadSatus = [];
                            }
                        }
                        $.get("/fileImage/getCoverImageInfo", function (result) {
                            if (result.isSuccess) {
                                var data = result.data;
                                var content = "";
                                for (key in data) {
                                    content += baseSelf.iconSelect.format(data[key].id, baseHome.staticImgURLstaticImgURL() + data[key].resPath, data[key].id)
                                }
                                iSelectDiv.find("div[class='row']").append(content);
                                self.$content.find(".musicCoverListGroup").on("click", function () {
                                    var thisContext = $(this).find("img")
                                    coverImg.find("img").attr("src", thisContext.attr("src"));
                                    coverImg.find("img").attr("data-value", thisContext.attr("data-value"));
                                })
                            }
                        }, "json");
                        $.get("/fileAudio/getAllLrcFileInfo", {id: id}, function (result) {
                            if (result.isSuccess) {
                                if (result.data.length > 0) {
                                    var data = result.data;
                                    var content = "";
                                    for (key in data) {
                                        content += "<option value='{0}'>{1}</option>".format(data[key].id, data[key].resName);
                                    }
                                    self.$content.find("#lrc_select").append(content);
                                }
                            }
                            baseSelf.dataLoadComplete("lrc")
                        }, "json");
                        $.get("/fileAudio/getAllAudioFileInfo", {id: id}, function (result) {
                            if (result.isSuccess) {
                                if (result.data.length > 0) {
                                    var data = result.data;
                                    var content = "";
                                    for (key in data) {
                                        content += "<option value='{0}'>{1}</option>".format(data[key].id, data[key].resName);
                                    }
                                    self.$content.find("#audio_select").append(content);
                                }
                            }
                            baseSelf.dataLoadComplete("audio")
                        }, "json");

                        //添加事件
                        coverImg.on("click", function () {
                            iSelectDiv.toggle(iSelectDiv.css("display"))
                            $(this).parent().parent().toggleClass(function () {
                                if (!$(this).is(".col-lg-offset-4")) {
                                    $(this).removeClass("col-lg-offset-4")
                                    return "col-lg-offset-2";
                                } else {
                                    $(this).removeClass("col-lg-offset-2")
                                    return "col-lg-offset-4";
                                }
                            })
                        })


                    },
                    buttons: {
                        ok: {
                            text: "保存",
                            action: function () {
                                var self = this.$content;
                                var description = self.find("#audio_description").val();
                                var lrcId = self.find("#lrc_select").val();
                                var coverId = self.find("#cover_imgage").find("img").attr("data-value");
                                var audioId = self.find("#audio_select").val();
                                var audioArtist = self.find("#audio_artist").val()
                                var audioName = self.find("#audio_name").val()
                                var addConten = {
                                    id: id,
                                    //描述
                                    description: description,
                                    //音乐名称
                                    audioName: audioName,
                                    //歌词
                                    audioLrcId: lrcId,
                                    //封面
                                    audioCoverId: coverId,
                                    //音频
                                    resourceId: audioId,
                                    //艺人名称
                                    audioArtist: audioArtist
                                };
                                if (!audioId || !audioArtist || !audioName) {
                                    baseHome.warningPrompt("请输入必要参数")
                                    return false;
                                }
                                var url = isEditEvent ? "/fileAudio/updateMusic" : "/fileAudio/addMusic";
                                $.ajax({
                                    url: url,
                                    method: "post",
                                    headers: {
                                        Accept: "application/json; charset=utf-8"
                                    },
                                    contentType: "application/json",
                                    data: JSON.stringify(addConten),
                                    dataType: "json",
                                    success: function (result) {
                                        if (result.isSuccess)
                                            baseHome.successPrompt("添加成功")
                                        else
                                            baseHome.errorPrompt("添加失败")
                                    }
                                })

                            }
                        },
                        cancel: {
                            text: "取消"
                        }
                    }
                })
            }
        }

        pageAudio.pageIniti(selectedStyle());

    })

</script>


<div class="container-fluid Icell">
    <div class="page-header">
        <div id="toolbar_audio" class="btn-group">
            <button id="btn_add" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
            </button>
            <button id="btn_edit" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
            </button>
            <button id="btn_delete" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
            </button>
        </div>
    </div>
    <div class="row" id="musicList">

    </div>


</div>