<link href="static/css/index/index.css" rel="stylesheet"/>

<div class="container-fluid">
    <div class="row">
        <!--日志信息-->
        <div class="col-md-3 Icell animated fadeInLeft fast"><!--3-->
            <dl>
                <dt><p class="text-left"><img src="static/img/QQ图片20181218162911.gif" class="img-rounded sysInfo-img"
                                              height="50px" width="50px"/></p></dt>
                <dt><p class="text-right">版本信息</p></dt>
                <dd>
                    <p class="text-right">v1.0.0</p>
                </dd>
                <dt><p class="text-right">更新内容</p></dt>
                <dd>
                    <p class="text-right">
                        <a href="#">更新日志</a>
                    </p>
                </dd>
                <dt><p class="text-right">经典语录</p></dt>
                <dd>
                    <blockquote class="blockquote-reverse">
                        <p>如果不是真的喜欢，谁愿意当舔狗呢？</p>
                        <footer>网恋教父：<cite title="Source Title">包桑</cite></footer>
                    </blockquote>
                </dd>
            </dl>
        </div>

        <div class="col-md-5 col-md-offset-4 Icell animated fadeInLeft fast"><!--9-->
            <canvas id="Chart"></canvas>
        </div>

        <script type="text/javascript">
            var piCameraSwitch = function (optionType) {
                $.get("/piControl/piCameraSwitch/{0}".format(optionType), function (result) {
                    console.log(result)
                }, "json")
            }
        </script>

        <div class="col-md-2 Icell col-md-offset-7 animated fadeInLeft fast">
            <div class="text-center">
                <h4>树莓派相机开关&nbsp;<small>raspberry pie</small>
                </h4>
                <input type="button" class="btn btn-success" value="开启" onclick="piCameraSwitch(1)"/>
                <input type="button" class="btn btn-danger" value="关闭" onclick="piCameraSwitch(0)"/>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-2 Icell animated fadeInLeft fast">
            <p>更改静态资源加载路径（开发使用</p>
           <input id="setting_static_loadURL" class="form-control" />
           <input type="button" value="更改" id="submit_url" class="btn btn-default"/>
        </div>

        <div class="col-md-4 Icell col-md-offset-6 animated fadeInLeft fast">
            <input type="file" id="uploadFile" name="file" class="file-loading" multiple/>
        </div>
    </div>

</div>

<script type="text/javascript" src="static/js/index/index.js"></script>