<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>如果不是真的喜欢，谁愿意当舔狗呢？</title>
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="static/Animate/animate.min.css" rel="stylesheet">
    <link href="static/magic/magic.min.css" rel="stylesheet">
    <link href="static/img/QQ图片20181218162911.gif" rel="icon">
    <link href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/jquery-mmenu/jquery.mmenu.all.css" rel="stylesheet"/>
    <link href="static/jqeury-confirm/jquery-confirm.min.css" rel="stylesheet">
    <link href="static/css/hamburgers.min.css" rel="stylesheet"/>
    <link href="static/css/home/home.css" rel="stylesheet"/>
    <link href="static/bootsstrap-validator/css/bootstrapValidator.min.css" rel="stylesheet"/>
    <link href="static/fontawesome-iconpicker/css/fontawesome-iconpicker.min.css" rel="stylesheet">
    <link href="static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
    <link href="static/toastr/toastr.min.css" rel="stylesheet">
    <link href="static/APlayer/APlayer.min.css" rel="stylesheet">

</head>

<body>
<div id="page" class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="my-icon" href="javascript:void(0)" class="hamburger hamburger--collapse ">
                      <span class="hamburger-box">
                         <span class="hamburger-inner"></span>
                      </span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">待处理消息(测试模板 <span class="badge">3</span><span
                                class="caret"></span> </a></a>
                        <ul class="dropdown-menu dropdownAnimation  animated fadeInUp faster">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right " id="login_template">
                    <li>
                        <ul class="loginAndLogOut">
                            <li id="login_li">
                                <button type="button" id="login" class="btn btn-default navbar-btn">对暗号o(￣ヘ￣o＃)</button>
                            </li>
                            <li id="login_success_userInfo">
                                <ul class="nav navbar-nav" id="user_avator">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                                           aria-haspopup="true" aria-expanded="false">
                                            <img alt="头像" id="user_avator_img" class="img-circle"
                                                 style="max-width: 50px"
                                                 src="http://192.168.0.112/systemResource/img/defaultAvator.jpg"/>
                                            名称
                                        </a>
                                        <ul class="dropdown-menu dropdownAnimation animated fadeInUp faster">
                                            <li><a href="javaScript:void(0)" onclick="baseHome.logout()">退出登录</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div id="tabContainer"></div>
    <nav id="my-menu">
        <ul id="menu-No0">
        </ul>
    </nav>
</div>


<!--aplayer(HTML5音乐播放器)-->
<div id="aplayer"></div>

</body>
<script src="static/jquery/jquery-3.1.1.min.js"></script>
<script src="static/jquery/jquery.easing.min.js"></script>
<link href="static/fontawesome-free/css/all.min.css" rel="stylesheet">
<script src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="static/jqeury-confirm/jquery-confirm.min.js"></script>
<script src="static/bootstrap-table/bootstrap-table.min.js"></script>
<script src="static/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="static/jquery-mmenu/jquery.mmenu.all.js"></script>
<script src="static/bootsstrap-validator/js/bootstrapValidator.min.js"></script>
<script src="static/bootsstrap-validator/js/language/zh_CN.js"></script>
<script src="static/js/bootstrap-tab.js"></script>
<script src="static/fontawesome-iconpicker/js/fontawesome-iconpicker.min.js"></script>
<script src="static/freewall/freewall.js"></script>

<script src="static/bootstrap-fileinput/js/plugins/piexif.min.js"></script>
<script src="static/bootstrap-fileinput/js/plugins/sortable.min.js"></script>
<script src="static/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="static/bootstrap-fileinput/js/locales/zh.js"></script>

<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@0.5.7/chartjs-plugin-annotation.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0"></script>



<script src="static/toastr/toastr.min.js"></script>
<script src="static/APlayer/APlayer.min.js"></script>
<script src="static/iconfont/font_qvm53c3gam/iconfont.js"></script>
<script type="text/javascript" src="static/js/home/home.js"></script>

</html>
