html,
body {
	width: 100%;
	height: 100%;
	background-color: rgb(243, 243, 243);
	/*background-repeat: no-repeat;
	background-attachment: fixed;*/
}

.Icell {
	/*margin: top right bottom left*/
	/*margin: 9px 9px 9px 9px;*/
	margin-top: 10px;
	margin-bottom: 9px;
	background: #fff;
	color: #333;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090, direction=120, strength=4);
	-moz-box-shadow: 1px 1px 10px #909090;
	-webkit-box-shadow: 1px 1px 10px #909090;
	box-shadow: 1px 1px 10px #909090;
	/*opacity: 1;*/
}



.mm-menu {
	/*--mm-color-background: #28A4C9;*/
	/*--mm-sidebar-expanded-size:700px;*/
	/*--mm-offset-top: 6%*/
	/*--mm-sidebar-expanded-size:300px;*/
}

.my-navbar {
	/*padding: 20px 0;*/
	transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.my-navbar a {
	background: transparent !important;
	/*color: #fff !important*/
}

.my-navbar a:hover {
	color: #45bcf9 !important;
	background: transparent;
	outline: 0
}

.my-navbar a {
	transition: color 0.5s ease-in-out;
}


/*-webkit-transition ;-moz-transition*/

.top-nav {
	padding: 0;
	background: #000;
}

button.navbar-toggle {
	background-color: #fbfbfb;
}


/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/

button.navbar-toggle>span.icon-bar {
	background-color: #dedede
}

#tabContainer {
	z-index: 9999;
}

@-webkit-keyframes myfirst {
	0%{margin-top: -50px;opacity: 0.1;}
	100%{margin-top:10px;opacity: 1;}
}

.Loadanimation{
	margin-top: 10px;
	margin-bottom: 9px;
	-webkit-animation: myfirst 1.5s;
}

